In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [2]:
animaux = pd.read_csv(r'C:\Users\elodi\Downloads\FAO_2013_fr\fr_animaux.csv')
vegetaux = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_vegetaux.csv")
population = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_population.csv")
cereales = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_ce╠üre╠üales.csv")
sous_alimentation = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_sousalimentation.csv")

##### Question 15

In [3]:
population_mondiale = population[['Code zone', 'Zone', 'Année', 'Valeur']]
population_mondiale = population_mondiale.rename(columns={'Code zone': 'code_pays', 'Zone': 'pays', 'Année': 'annee', 'Valeur': 'population'})
population_mondiale['population'] *= 1000
population_mondiale['population'].sum()
population_totale = population_mondiale[population_mondiale['code_pays'] != 351]
population_totale['population'].sum()

6997326000

In [4]:
population_totale.to_csv("export.csv", index = False)

##### Question 16

In [5]:
vegetaux = vegetaux[vegetaux['Code zone'] != 351]
animaux = animaux[animaux['Code zone'] != 351]
vegetaux['type'] = 'vegetale'
animaux['type'] = 'animal'
df_animaux_vegetaux = pd.concat([vegetaux, animaux])

In [6]:
df_animaux_vegetaux = df_animaux_vegetaux.pivot_table(index=['Zone','Code zone','Produit', 'Code Produit', 'type',], values='Valeur', columns='Élément')
df_animaux_vegetaux = df_animaux_vegetaux.rename_axis(None, axis=1)
df_animaux_vegetaux.reset_index(inplace=True)

In [7]:
df_animaux_vegetaux = df_animaux_vegetaux.rename(columns={'Zone': 'pays', 'Code zone': 'code_pays', 'Produit': 'produit', 'Code Produit': 'code_produit', 'type': 'origin' })
df_animaux_vegetaux = df_animaux_vegetaux.rename(columns={'Disponibilité intérieure': 'dispo_alim_tonnes', 'Disponibilité alimentaire (Kcal/personne/jour)': 'dispo_alim_kcal_p_j', 'Disponibilité de protéines en quantité (g/personne/jour)' :'dispo_prot','Disponibilité de protéines en quantité (g/personne/jour)': 'dispo_prot', 'Disponibilité de matière grasse en quantité ((g/personne/jour)': 'dispo_mat_gr'})
df_animaux_vegetaux = df_animaux_vegetaux[['pays', 'code_pays', 'produit', 'code_produit', 'origin', 'dispo_alim_tonnes', 'dispo_alim_kcal_p_j', 'dispo_prot', 'Disponibilité de matière grasse en quantité (g/personne/jour)']]
df_animaux_vegetaux = df_animaux_vegetaux.rename(columns={'Disponibilité de matière grasse en quantité (g/personne/jour)': 'dispo_mat_gr'})
df_animaux_vegetaux['annee'] = '2013'

In [8]:
df_animaux_vegetaux = df_animaux_vegetaux[['code_pays', 'pays','annee', 'produit', 'code_produit', 'origin', 'dispo_alim_tonnes', 'dispo_alim_kcal_p_j', 'dispo_prot', 'dispo_mat_gr']]
df_animaux_vegetaux = df_animaux_vegetaux.fillna(0)
df_animaux_vegetaux['dispo_alim_tonnes'] *= 1000
df_animaux_vegetaux.head()

,code_pays,pays,annee,produit,code_produit,origin,dispo_alim_tonnes,dispo_alim_kcal_p_j,dispo_prot,dispo_mat_gr
0,2,Afghanistan,2013,Abats Comestible,2736,animal,53000.0,5.0,0.77,0.20
1,2,Afghanistan,2013,"Agrumes, Autres",2614,vegetale,41000.0,1.0,0.02,0.01
2,2,Afghanistan,2013,Aliments pour enfants,2680,vegetale,2000.0,1.0,0.03,0.01
3,2,Afghanistan,2013,Ananas,2618,vegetale,0.0,0.0,0.00,0.00
4,2,Afghanistan,2013,Bananes,2615,vegetale,82000.0,4.0,0.05,0.02

In [9]:
df_animaux_vegetaux.to_csv("export.csv", index = False)

##### Question 17

In [10]:
animaux_vegetaux = pd.concat([vegetaux, animaux])
animaux_vegetaux = animaux_vegetaux.pivot_table(index=['Zone','Code zone','Produit','Code Produit', 'type'], values='Valeur', columns='Élément')
animaux_vegetaux = animaux_vegetaux.rename_axis(None, axis=1)
animaux_vegetaux.reset_index(inplace=True)

In [11]:
animaux_vegetaux = animaux_vegetaux.rename(columns={'Zone': 'pays', 'Code zone': 'code_pays', 'Produit': 'produit', 'Code Produit': 'code_produit'})
animaux_vegetaux = animaux_vegetaux.rename(columns={'Disponibilité intérieure': 'dispo_int', 'Aliments pour animaux': 'alim_ani', 'Traitement': 'transfo', 'Autres utilisations (non alimentaire)': 'autres_utilisations'})
animaux_vegetaux = animaux_vegetaux.rename(columns={'Semences': 'semences', 'Pertes': 'pertes', 'Nourriture': 'nourriture'})
animaux_vegetaux = animaux_vegetaux[['pays', 'code_pays', 'produit', 'code_produit', 'dispo_int', 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture', 'autres_utilisations']]
animaux_vegetaux = animaux_vegetaux.fillna(0)
animaux_vegetaux['annee'] = '2013'
animaux_vegetaux = animaux_vegetaux[['code_pays', 'pays', 'annee', 'produit', 'code_produit', 'dispo_int', 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture', 'autres_utilisations']]
animaux_vegetaux.head()

,code_pays,pays,annee,produit,code_produit,dispo_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations
0,2,Afghanistan,2013,Abats Comestible,2736,53.0,0.0,0.0,0.0,0.0,53.0,0.0
1,2,Afghanistan,2013,"Agrumes, Autres",2614,41.0,0.0,0.0,2.0,0.0,39.0,0.0
2,2,Afghanistan,2013,Aliments pour enfants,2680,2.0,0.0,0.0,0.0,0.0,2.0,0.0
3,2,Afghanistan,2013,Ananas,2618,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,Afghanistan,2013,Bananes,2615,82.0,0.0,0.0,0.0,0.0,82.0,0.0

In [12]:
animaux_vegetaux.to_csv("export.csv", index = False)

##### Question 18

In [13]:
sous_nutrition = sous_alimentation[['Code zone', 'Zone', 'Année', 'Valeur']]
sous_nutrition = sous_nutrition.rename(columns={'Code zone': 'code_pays', 'Zone': 'pays','Année': 'annee', 'Valeur': 'nb_personnes'})
sous_nutrition = sous_nutrition[sous_nutrition['code_pays'] != 351]
sous_nutrition = sous_nutrition[(sous_nutrition.annee == '2012-2014')]
sous_nutrition = sous_nutrition.fillna(0)
sous_nutrition.loc[sous_nutrition['annee'] ==  '2012-2014', ['annee']] = '2013'

In [14]:
sous_nutrition.loc[sous_nutrition['nb_personnes'] == '<0.1', ['nb_personnes']] = 0
sous_nutrition['nb_personnes'] = sous_nutrition['nb_personnes'].astype(float).copy()
sous_nutrition['nb_personnes'] *= 1000000
sous_nutrition = sous_nutrition.fillna(0)
#sous_nutrition.drop(sous_nutrition[sous_nutrition['nb_personnes'] == 0].index, inplace=True)
sous_nutrition.head()

    code_pays            pays annee  nb_personnes
0           2     Afghanistan  2013     7900000.0
5         202  Afrique du Sud  2013     2600000.0
10          3         Albanie  2013      200000.0
15          4         Algérie  2013     1700000.0
20         79       Allemagne  2013           0.0

In [15]:
sous_nutrition.to_csv("export.csv", index = False)